.App {
  text-align: center;
}

body {
  background-color: black;
  color: goldenrod;
}

li {
  list-style: none;
  font-size: 30px;
}

button {
  margin: 30px;
  background-color: rgb(24, 0, 36);
  color: goldenrod;
  border: 2px solid goldenrod;
  border-radius: 15px;
  width: 100px;
  height: 40px;
}

input {
  background-color: rgb(24, 0, 36);
  color: goldenrod;
  border: 2px solid goldenrod;
  border-radius: 15px;
  height: 40px;
}
